<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Success</title>
  </head>
  <body>
    <div>
      <h1>Item Successfully Updated <a href="/">Back To Main Page</a></h1>
    </div>
  </body>
</html>
