<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administration Console</title>
    <link rel="stylesheet" href="../styles/styles.css">
  </head>
  <body>
    <div>
      <form action="/">
        <button type="submit">Home</button>
      </form>
      <h1>Administration Dashboard</h1>
      <p>Add, update or delete products !</p>
    </div>
  </body>
</html>
